@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #1f2937;
    color: aliceblue;
}

.nav > .menu > ul li{
    list-style-type: none;
    display: inline;
    padding-right: 30px;
}

.logo{
    font-size: 24px;
}

.hero-section{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: #1f2937;
    padding: 0 20%;
    color: aliceblue;
    margin: auto;
}

.hero-words{
    padding:40px;
}

.h-one{
    font-size: 48px;
    font-weight: 700;
}

.hero-words p{
    padding: 20px 0;
    font-size: 18px;
}

.hero-image{
    background-color: darkgray;
    height: 30vh;
    display: flex;
    width: 40vw;}

.sign-up{
    background-color: #3882f6;
    padding: 15px 30px 15px 30px;
    border: none;
    border-radius: 8px;
    color: #f9faf8;
    font-size:18px;
    font-weight: 600;
}

.caption{
    margin: auto;
}

.second-div{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding: 30px;

}

.second-section{
    height: 50vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    
}

.empty-div-section{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin: 20px;
}

.empty-div{
    height: 250px;
    width: 250px;
    border: 2px solid #3882f6;
    border-radius: 20px;
}

